<nav role="navigation">
  <ul class="container">
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <button class="dropbtn">VanillaJS</button>
      <div class="dropdown-content">
        <a href="/01-jsdrumkit">Drumkit</a>
        <a href="/02-js-css-clock">Clock</a>
        <a href="/03-cssvariables">Variables</a>
        <a href="/04-arraycardio">Arrays</a>
        <a href="/05-flexpanels">Flex Panels</a>
        <a href="/06-typeahead">Type Ahead</a>
        <a href="/07-canvas">Canvas</a>
        <a href="/08-consolecommander">Console Tricks</a>
        <a href="/09-multicheck">Multicheck</a>
        <a href="/10-videoplayer">Video Player</a>
        <a href="/11-slideonscroll">Slide on Scroll</a>
        <a href="/12-localstoragetapas">Local Tapas</a>
        <a href="/13-sortbands">Sort Bands</a>
        <a href="/14-webcam">Photobooth</a>
        <a href="/15-speechdetection">Speech Detection</a>
        <a href="/16-speedometer">Speedometer</a>
        <a href="/17-magic-moving-highlight">Magic Moving Highlight</a>
        <a href="/18-texttospeech">Voiceinator</a>
      </div>
    </li>
  </ul>
</nav>
