<header class="hero">
  <h1>JayTeee</h1>
</header>

<nav id="navbar" class="floatnav" role="navigation">
  <ul>
    <li class="logo"><a href="#" onclick="scrollToTop();return false">Top</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="#">VanillaJS</a></li>
  </ul>
</nav>
