<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/01-jsdrumkit">Drumkit</a></li>
    <li><a href="/02-js-css-clock">Clock</a></li>
    <li><a href="/03-cssvariables">Variables</a></li>
    <li><a href="/04-arraycardio-one">Arrays One</a></li>
    <li><a href="/05-flexpanels">Flex Panels</a></li>
  </ul>
</nav>
