<section>
  <form class="search-form">
    <input class="search" placeholder="City or State" autofocus>
    <ul class="suggestions">
      <li>Filter for a city</li>
      <li>or a state</li>
    </ul>
  </form>
</section>
