/**
  * ============== Variables ==============
**/

/**
  * ============== Scaffolding ==============
**/

html {
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input {
  width: 100px;
}

/**
  * ============== Header ==============
**/

/**
  * ============== Body ==============
**/

/**
  * ============== Footer ==============
**/
footer > .img-wrapper {
  width: 20px;
  height: 12px;
}

.img-wrapper img {
  width: 100%;
  height: auto;
}
