/**
  * ============== Variables ==============
**/
:root {
  --main-text-align: center;
  --main-text-size: 10px;
  --body-margin: 0;
  --body-padding: 0;
  --body-align: center;
  --body-justify: center;
  --body-text-color: black;
  --body-text-weight: 10px;
  --body-text-size: 10px;
  --spacing: 10px;
  --blur: 10px;
  --base: #ffc600;
  --text-bounce: font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
            flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
            background 0.2s;
}

/**
  * ============== Scaffolding ==============
**/
html {
  height: 100%
  box-sizing: border-box;
  background-size: cover;
}
body {
  min-height: 100vh;
  margin: var(--body-margin);
  padding: var(--body-padding);
  color: var(--body-text-color);
  font-family: sans-serif;
  font-weight: var(--body-text-weight);
  align-items: var(--body-align);
  justify-content: var(--body-justify);
  text-align: center;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**
  * ============== Header ==============
**/
nav .container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 20px;
  padding: 10px 0;
}
ul {
  list-style: none;
}
li > a {
  text-decoration: none;
  color: white;
}
nav .container > li:first-child {
  justify-content: flex-start;
}
nav .container > li:last-child {
  margin-left: auto;
}
nav > .container li {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin: 15px -65px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover, .dropdown:hover .dropbtn{
    background-color: #3e8e41;
}

/**
  * ============== Body ==============
**/
.home {
  background: url(/assets/backgrounds/vanilla.jpg);
  background-size: cover;
}
.home h1 {
  font-size: 100px;
}
.hero {
  min-height: 100vh;
  width: 100vw;
}

/**
  * ============== Footer ==============
**/
body footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
  clear: both;
  margin: 0 auto;
  padding: 26px 0 30px 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 20px;
}
footer .img-wrapper {
  width: 40px;
}
.footnote {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

}
.img-wrapper img {
  width: 100%;
}

/**
  * Notes
**/
/*
* Fix negative margins
*/
